### This workflow now has no secrets and a read-only token
name: CI Workflow
on:
  pull_request

jobs:
  dependabot:
    runs-on: macos-latest
    # Always check the actor is Dependabot to prevent your workflow from failing on non-Dependabot PRs
    # if: ${{ github.actor == 'dependabot[bot]' }}
    steps:
      - uses: actions/checkout@v4
      - run: npm ci
      - run: npm run test:unit
      - run: npm run test:integration
      - run: npm run test:integration:taikoRunner
